#repl-prefix, #repl-stdin, #repl-stdio {
    font-family: 'Droid Sans Mono', sans-serif !important;
    width: 100%;
    background: transparent;
    font-size: 14px !important;
}

#repl-stdio {
    height: 220px;
    overflow-y: scroll;
}

#repl-stdin {
    margin: -17px 0 0 18px;
}

#repl-stdio .repl-command {
    color: black;
    padding-left: 8px;
}