<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/toolkit/css/reset.css" media="all">
        <link rel="stylesheet" type="text/css" href="/toolkit/css/grid.css" media="all">
        <link rel="stylesheet" type="text/css" href="/toolkit/css/syntax.css" media="all">
        <link rel="stylesheet" type="text/css" href="/toolkit/css/style.css" media="all">
        <base href="/1.1.0/" />
        <title>Javascript Toolkit Docs</title>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="flare"></div>
            <header class="container-12">
                <h1>JS Toolkit Documentation</h1>
            </header>
            <div id="container">     
                <nav id="objects">
                    <select id="version">
                        <option value="1.1.0" selected>1.1.0</option>
                    </select>
                    <ul>
                        <li><a href="../">Home</a></li>
                        <li><a href="array.html">Array</a></li>
                        <li><a href="object.html">Object</a></li>
                        <li><a href="number.html">Number</a></li>
                        <li><a href="math.html">Math</a></li>
                        <li class="clear"></li>
                    </ul>
                </nav>
                <div id="content" class="container-12">{{ content }}
                <div class="clear"></div>    
                </div>
                <div class="clear"></div>
            </div>
            <footer class="container-12">
                <div id="grid-6">
                    Last Update: {{ site.time | date_to_string }} - Toolkit v1.0.x<br />
                    Copyright &copy; 2011 <a href="oliver.morgan@kohark.com">Oliver Morgan</a>. | All rights reserved.
                </div>
            </footer>
        <div class="clear"></div>
        </div>
    </body>
    <script type="text/javascript">
    $(function() {
        
        $('a.toggle').click(function() { 
            
            var hl = $(this).next();     
            
            if ($(this).is('.open')) {
                hl.animate({ height: '1px' }, function() {
                    hl.css('z-index', 9998);
                });
            }
            else {
                hl.css('z-index', 9999);
                hl.animate({
                    height: hl.find('pre').outerHeight()
                });
            }
            
            $(this).toggleClass('open');
        });
                
        $('#version').change(function() {
           $('head base').attr('href', window.location.origin + '/' + $(this).val() + '/');
        });
        $('#version').trigger('change');
        
        $('nav#objects a').each(function() {
            if (this.href == window.location.href)
                $(this).parent('li').addClass('current');
        })
    });
    </script>
</html>